host {
  

  ion-label{
    font-weight: 500;
  }
  
  ion-input{
    padding: 5px !important;border-radius:5px;border:solid 1px black;background-color: rgb(244, 244, 244);
  }


  .area {
    width: 95%;
    padding: 15px;
    margin: 15px;
    border: 1px solid #333;
    background: rgba(0,0,0,0.7);
}

#dropZone {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}

.drop-file-over{
  background: #333;
}
  
  }