<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div style="margin-top: 25vh" padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          <!-- BrightLife -->
        </ion-text>
      </h4>
    </div>

   
    
    <div style="margin-top: 8vh">
      <ion-button size="medium" expand="full" shape="round" color="dark" (click)="gotToNext()"  tappable>
   
        Become an Agent
      </ion-button>

      <ion-button size="medium" expand="full" shape="round" color="secondary" (click)="phoneAuth()" tappable>
       
       Login
      </ion-button>

    

      
    </div>

    <div style="margin-top: 5vh">
     <p text-center>
      <ion-text color="light" class="fw700">
        Need Help?
      </ion-text>
  
     </p>
    

      
    </div>


   
   

  </div>
</ion-content>