
<ion-header>
  <ion-list-header color="light">
    <ion-label class="fw700">Please make sure to check for the following requirements</ion-label>
  </ion-list-header>
  

</ion-header>



<ion-content>



  <ion-card class="bg-white">
   
    <ion-grid style="font-size:80%" fixed no-padding>
      <ion-label text-center class="fw700">Required Documents</ion-label>
      <ion-row>
        <ion-col class="dext" size="12" padding>

     
          <ion-item  no-lines>
         
              <ion-icon name="copy" color="secondary" slot="start"></ion-icon>
              <p class="fw700">Valid National Identity Card or Passport</p>
          
          </ion-item>

           
            <ion-item  no-lines>
         
                <ion-icon name="copy" color="secondary" slot="start"></ion-icon>
              <p class="fw700">Academic Papers</p>
          
          </ion-item>

          <ion-item  no-lines>
         
              <ion-icon name="copy" color="secondary" slot="start"></ion-icon>
            <p class="fw700">Curriculum Vitae</p>
        
        </ion-item>

        <ion-item  no-lines>
         
            <ion-icon name="copy" color="secondary" slot="start"></ion-icon>
          <p class="fw700">Recommendation Letter</p>
      
      </ion-item>

      <ion-item  no-lines>
         
          <ion-icon name="copy" color="secondary" slot="start"></ion-icon>
        <p class="fw700">L.C.1 Letter</p>
    
    </ion-item>

          
    
          
      

        
  
        </ion-col>
      </ion-row>
    </ion-grid>

  

   
    </ion-card>




    <ion-card class="bg-white">
   
     
  
    
  
   
      <ion-grid style="font-size:80%" fixed no-padding>
        <ion-label text-center class="fw700">Eligibilty</ion-label>
        <ion-row>
          <ion-col class="dext" size="12" padding>
  
       
            <ion-item  no-lines>
           
              <ion-icon name="checkmark-circle-outline" color="secondary" slot="start"></ion-icon>
                <p class="fw700">Nationality: Ugandan</p>
            
            </ion-item>
  
              <ion-item  no-lines>
              
                <ion-icon name="checkmark-circle-outline" color="secondary" slot="start"></ion-icon>
                <p class="fw700">Must be over the age of 18</p>
            
            </ion-item>
  
           
            
      
            
        
  
          
    
          </ion-col>
        </ion-row>
      </ion-grid> 
  
     
      </ion-card>
</ion-content>


<ion-footer>
   
    
  <ion-row >
        
    <ion-col>
      <ion-button size="large" expand="full" color="secondary" (click)="goToRegister()" no-margin>Proceed</ion-button>
    </ion-col>
   
    
  </ion-row>
</ion-footer>